<!--MODAL PARA MOBILE COM FULLSCREEN-->
<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down p-2">
    <div class="modal-content rounded-3">
      <div class="p-3 d-flex">
        <button type="button" class="circle-btn btn-modal-size align-items-center justify-content-center" data-bs-dismiss="modal" aria-label="Fechar">
          <i class="fa-solid fa-x"></i>
        </button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-between">
        <div class="flex-grow-1 overflow-auto">
          <nav class="nav flex-column modal-link h5">
            <a href="#">Problemas no pedido ? 🚨</a>
            <a href="#">As Mais Vendidas 🎉</a>
            <a href="#">Ocasiões</a>
            <a href="#">Produtos 📲</a>
            <a href="#">Tira Dúvida! 🤌</a>
            <a href="#">Categorias ⭐</a>
          </nav>
        </div>
        <div class="social-icons d-flex justify-content-center mt-4 border-top">
          <a href="https://www.instagram.com/fivetwo.tshirt/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="https://wa.me/85986540523" target="_blank"><i class="fab fa-whatsapp fa-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
