<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}FiveTwo{% endblock title %}</title>
    {% load static %}
    <script type="module" src="{% static 'landing/js/base.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'landing/assets/css/base.css' %}">
    <script src="https://kit.fontawesome.com/19f637e07e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <!--BARRA DE NAVEGAÇÃO SUPERIOR-->
      <nav class="navbar bg-topbar fixed-top pt-0">
        <!--CARROSEL TOPBAR-->
        <div id="topBarCarousel" class="text-center bg-carousel w-100 py-2 carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">🛍️ Promo relâmpago! Só hoje com frete grátis ✈️</div>
            <div class="carousel-item ">🎯 Ache seu produto favorito e leve agora! 🏴</div>
            <div class="carousel-item ">⏱️ Descontos que somem rápido… aproveite! 🏃‍♂️</div>
          </div>
        </div>
        
        <!--TOPBAR CATEGORIAS-->
        <div class="container-fluid justify-content-center pt-3 pb-1">
          <div class="row w-100">
            <!-- ICONES DA ESQUERDA -->
            <div class="col-4 d-flex justify-content-start justify-content-md-center">
              <a class="navbar-brand d-none d-md-flex" href="#">FiveTwo</a>
              <div class="d-md-none">
                <button type="button" class="btn p-1" data-bs-toggle="modal" data-bs-target="#menuModal">
                  <span class="fa-solid fa-bars fa-xl"></span>
                </button>
                <a href="#" class="btn p-1">
                  <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </a>
              </div>
            </div>
  
            <!-- ICONES DO CENTRO -->
            <div class="col-4 d-flex justify-content-center align-items-center">
              <div class="d-none d-md-flex gap-4 justify-content-center">
                <a class="link-nav fw-semibold" href="#">MAIS VENDIDAS 💘</a>
                <a class="link-nav fw-semibold" href="#">OCASIÕES</a>
                <a class="link-nav fw-semibold" href="#">PRODUTOS</a>
                <a class="link-nav fw-semibold" href="#">😍 TIRA DUVIDA!</a>
              </div>
              <a href="#" class="d-md-none d-flex justify-content-center btn">FiveTwo</a>
            </div>
  
            <!-- ICONES DA DIREITA -->
            <div class="col-4 d-flex justify-content-end justify-content-md-center">
              <a href="#" class="btn d-none d-md-block">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>
  
              <a href="#" class="btn">
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
              </a>
              
            </div>
          </div>
        </div>
      </nav>
      <!--BANNER PRINCIPAL DE PROPAGANDA-->
      <section class="w-100" style="padding-top: 85px;">
        <picture>
          <source media="(max-width: 768px)" srcset="{% static 'landing/assets/img/BANNERMOBILE.png'%}">
          <img src="{% static 'landing/assets/img/BANNER.png' %}" alt="banner principal" style="width: 100%; display: block;">
        </picture>
      </section>

    </header>

    <main>
      <!--LISTA HORIZONTAL DE CATEGORIAS-->
      <section class="d-flex justify-content-center py-5">
        <ul class="d-flex align-items-center list-unstyled gap-4"
            style="overflow: auto;">
          <li>
            <a href="#" class="d-flex flex-column align-items-center text-center"
                        style="width: 17vw; max-width: 112px;">

              <img src="https://www.aphago.com.br/cdn/shop/files/classica.png?v=1741887302"
                    alt="produtos"
                    class="rounded-circle img-fluid"
                    style="object-fit: cover;">
              <p>Clássicas</p>
            </a>
          </li>
          <li>
            <a href="#" class="d-flex flex-column align-items-center text-center"
                        style="width: 17vw; max-width: 112px;">

              <img src="https://www.aphago.com.br/cdn/shop/files/classica.png?v=1741887302"
                    alt="produtos"
                    class="rounded-circle img-fluid"
                    style="object-fit: cover;">
              <p>Clássicas</p>
            </a>
          </li>
          <li>
            <a href="#" class="d-flex flex-column align-items-center text-center"
                        style="width: 17vw; max-width: 112px;">

              <img src="https://www.aphago.com.br/cdn/shop/files/classica.png?v=1741887302"
                    alt="produtos"
                    class="rounded-circle img-fluid"
                    style="object-fit: cover;">
              <p>Clássicas</p>
            </a>
          </li>
          <li>
            <a href="#" class="d-flex flex-column align-items-center text-center"
                        style="width: 17vw; max-width: 112px;">

              <img src="https://www.aphago.com.br/cdn/shop/files/classica.png?v=1741887302"
                    alt="produtos"
                    class="rounded-circle img-fluid"
                    style="object-fit: cover;">
              <p>Clássicas</p>
            </a>
          </li>
          <li>
            <a href="#" class="d-flex flex-column align-items-center text-center"
                        style="width: 17vw; max-width: 112px;">

              <img src="https://www.aphago.com.br/cdn/shop/files/classica.png?v=1741887302"
                    alt="produtos"
                    class="rounded-circle img-fluid"
                    style="object-fit: cover;">
              <p>Clássicas</p>
            </a>
          </li>                                        
        </ul>
      </section>

      <!--PRIMEIRA SEÇÃO (CATEGORIAS PROMO)-->
      <section>
        <!--TITULO CATEGORIAS-->
        <div class="container py-5">
          <h1>DIA DOS PAIS 🧡</h1>
          <p>Presenteie com o melhor pro seu papai</p> 
        </div>
        <!-- CARD CATEGORIAS -->
        <div class= "d-flex gap-3 flex-nowrap carousel-items" data-carousel="1">
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>              
        </div>
        <!-- BOTÕES DE NAVEGAÇÃO (DESKTOP ONLY) -->
         <div class="d-flex py-5 container carousel-block justify-content-between align-items-center" data-carousel="1">
           <button class="circle-btn btn-card-size d-none d-lg-block btnPrev">
             <i class="fa-solid fa-angle-left"></i>
           </button>
           <div class="carousel-progress flex-grow-1 mx-3 d-none d-lg-block">
             <div class="carousel-progress-bar"></div>
            </div>
            <button class="circle-btn btn-card-size d-none d-lg-block btnNext">
              <i class="fa-solid fa-angle-right"></i>
            </button>
         </div>
      </section>

      <!--SEGUNDA SEÇÃO (CARDS DE VIDEOS)-->
      <section class="py-5">
        <!--TITULO DA CHAMADA DE AÇÃO-->
        <div class="container carousel slide" id="carouselSugestions">
          <div class="carousel-indicators d-md-none">
            <button type="button" data-bs-target="#carouselSugestions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselSugestions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselSugestions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <ul class="row list-unstyled text-center pb-5">
            <li class="col-md-4 active">
              <i class="fa-regular fa-truck fa-lg"></i>
              <h2 class="my-3">FRETE GRÁTIS</h2>
              <p>
                Compre apenas R$499 e ganhe
                <strong>Frete Grátis</strong> até para o Acre 🇧🇷
              </p>
            </li>
            <li class="col-md-4">
              <i class="fa-regular fa-share-from-square fa-lg"></i>
              <h2 class="my-3">TROCA GRÁTIS</h2>
              <p>
                Sua primeira troca é grátis, mesmo sendo um produto
                personalizado
              </p>
            </li>
            <li class="col-md-4">
              <i class="fa-regular fa-hand-back-fist fa-lg"></i>
              <h2 class="my-3">COMPRA SEGURA</h2>
              <p>
                Ambiente seguro para compras.
                Loja verificada pelo Google e Reclame Aqui.
              </p>                
            </li>
          </ul>
        </div>
        <!--CARDS DA CHAMADA DE AÇÃO-->
        <div class="container-fluid pb-5" id="cardSugestions">
          <ul class="list-unstyled row gy-4 text-center justify-content-center">
            <li class="col-6 col-lg-3 cardSugestionsItems">
              <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmFoN2VkcnBqcjJsdzgxemcwemNzZHJ4dGR2YXE3NWR1c2N5b294MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3fc52GuMe4IYGKHkPz/giphy.gif" 
                    alt="teste teste" 
                    class="rounded object-fit-cover w-100 h-100 ">
            </li>
            <li class="col-6 col-lg-3 cardSugestionsItems">
              <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmFoN2VkcnBqcjJsdzgxemcwemNzZHJ4dGR2YXE3NWR1c2N5b294MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3fc52GuMe4IYGKHkPz/giphy.gif" 
                    alt="teste teste" 
                    class="rounded object-fit-cover w-100 h-100">
            </li>
            <li class="col-6 col-lg-3 cardSugestionsItems">
              <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmFoN2VkcnBqcjJsdzgxemcwemNzZHJ4dGR2YXE3NWR1c2N5b294MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3fc52GuMe4IYGKHkPz/giphy.gif" 
                    alt="teste teste" 
                    class="rounded object-fit-cover w-100 h-100">
            </li>
            <li class="col-6 col-lg-3 cardSugestionsItems">
              <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmFoN2VkcnBqcjJsdzgxemcwemNzZHJ4dGR2YXE3NWR1c2N5b294MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3fc52GuMe4IYGKHkPz/giphy.gif" 
                    alt="teste teste" 
                    class="rounded object-fit-cover w-100 h-100">
            </li>
          </ul>
        </div>

      </section>

      <!--TERCEIRA SEÇÃO (CATEGORIAS PROMO)-->
      <section>
        <!--TITULO CATEGORIAS-->
        <div class="container pb-5">
          <h1>DIA DOS PAIS 🧡</h1>
          <p>Presenteie com o melhor pro seu papai</p> 
        </div>
        <!-- CARD CATEGORIAS -->
        <div id="scroll-container" class= "d-flex gap-3 flex-nowrap carousel-items" data-carousel="2">
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>
          <div class="card" style="min-width: 280px;">
            <img src="https://i.postimg.cc/TYGfWxZX/produto1.webp" class="card-img-top object-fit-cover" alt="Produto 1">
            <div class="card-body p-4 text-center">
              <p class="fw-bold mb-0">Meus Amores - Com fotos - até 4 crianças</p>
              <p class="mb-1">
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                <i class="fa-solid fa-star fa-xs star-color"></i>
                (999)
              </p>
              <p class="text-muted mb-1">A partir de R$ 84,90</p>
              <p><i class="fa-regular fa-credit-card"></i> até 12X de R$ 8,52</p>
            </div>
          </div>                                                                                                    
        </div>
        <!-- BOTÕES DE NAVEGAÇÃO (DESKTOP ONLY) -->
         <div class="d-flex container justify-content-between align-items-center py-5 carousel-block" data-carousel="2">
           <button class="circle-btn btn-card-size d-none d-lg-block btnPrev">
             <i class="fa-solid fa-angle-left"></i>
           </button>
           <div class="carousel-progress flex-grow-1 mx-3 d-none d-lg-block">
             <div class="carousel-progress-bar"></div>
            </div>
            <button class="circle-btn btn-card-size d-none d-lg-block btnNext">
              <i class="fa-solid fa-angle-right"></i>
            </button>
         </div>
      </section>
      
      <!--BANNER INFORMATIVO-->
      <section class="py-5">
        <picture>
          <source media="(max-width: 768px)" srcset="{% static 'landing/assets/img/BANNERINFOMOBILE.png' %}">
          <img src="{% static 'landing/assets/img/BANNERINFO.png'%}" 
          alt="Imagem Informativa"
          class="w-100 h-50">
        </picture>
      </section>

      <!--FAQ-->
      <section class="faq container my-3">
        <h1 class="text-center mb-2 fw-bold">FAQ</h1>
        <p class="text-center mb-4">Veja as perguntas mais frequentes de nossos clientes.</p>

        <!-- ITENS DO FAQ -->
        <div class="accordion-wrapper" style="max-width: 900px; margin: 0 auto;">
          <div class="accordion" id="faqAccordion">
            <!-- Item 1 -->
            <div class="accordion-item mb-2 rounded-3 bg-faq">
              <h5 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed bg-transparent fw-bold no-focus" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" 
                        aria-controls="collapseOne">
                  Qual o tempo de entrega?
                </button>
              </h5>
              <div id="collapseOne" class="accordion-collapse collapse" 
                  aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p class="text-muted mb-0">O prazo de entrega é de 5 a 10 dias úteis, dependendo da região.</p>
                </div>
              </div>
            </div>

            <!-- Item 2 -->
            <div class="accordion-item mb-2 rounded-3 bg-faq">
              <h5 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed bg-transparent fw-bold no-focus" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" 
                        aria-controls="collapseTwo">
                  Posso trocar produto personalizado?
                </button>
              </h5>
              <div id="collapseTwo" class="accordion-collapse collapse" 
                  aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <p class="text-muted mb-0">Produtos personalizados não podem ser trocados, exceto em caso de defeito.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--BOTÃO FAQ..SUPORTE -->
        <div class="py-5 d-flex flex-column align-items-center">
          <p class="text-center">Nosso suporte está disponível de segunda a sexta das: 9:00 às 18:00.</p>
          <a href="#" class="support-button fw-bold">Suporte</a>
        </div>
      </section>
    </main>

    <!--FOOTER DA PÁGINA-->
    <footer class="bg-footer text-white">
      <div class="container py-5">
        <div class="row">
          <!-- CHAMADA DE AÇÃO -->
          <div class="col-md-4 mb-5">
            <h2 class="fw-bold text-uppercase mb-3">Fique por dentro das promoções!</h2>
            <p class="mb-4 text-soft">
              Fale diretamente com nosso suporte pelo WhatsApp e receba novidades e descontos exclusivos.
            </p>
          </div>

          <!-- MENU DE POLÍTICAS -->
          <div class="col-md-4 mb-5 d-md-flex justify-content-center">
            <div>
              <h4 class="mb-3">Políticas da Loja</h4>
              <ul class="list-unstyled d-flex flex-column gap-2 text-soft">
                <li><a href="/suporte/rastreio">Rastrear Pedido</a></li>
                <li><a href="/suporte/estampas-e-direitos-autorais">Estampas e Direitos Autorais</a></li>
                <li><a href="/suporte/quero-trocar">Sobre como trocar</a></li>
                <li><a href="/policies/refund-policy">Sobre Devolução e Reembolso</a></li>
                <li><a href="/policies/shipping-policy">Fretes e Prazos de Entrega</a></li>
                <li><a href="/policies/terms-of-service">Termos de Uso</a></li>
                <li><a href="/policies/privacy-policy">Políticas de Privacidade</a></li>
                <li><a href="/policies/legal-notice">Aviso Legal</a></li>
                <li><a href="/policies/contact-information">Sobre nós</a></li>
              </ul>
            </div>
          </div>

          <!-- INFORMAÇÕES DA EMPRESA -->
          <div class="col-md-4 small d-md-flex justify-content-center">
            <div>
              <h4>FiveTwo Tshirteria</h4>
              <p class="text-soft">
                Transformando ideias em camisetas<br> exclusivas feitas para você.<br><br>
                <strong>Sede:</strong> Rua Antonio Arruda 786<br>
                Fortaleza / Ceará - CE<br>
                CEP 60335-095<br><br>
  
                👤 <strong>SAC</strong><br>
                ✉️ fivetwotshirteria@gmail.com<br><br>
                📲 <a href="https://wa.me/85986540523" target="_blank">(85) 98654-0523</a><br><br>
                <em>Suporte via WhatsApp<br>Não atendemos ligação.</em><br><br>
                🕗 <strong>Atendimento:</strong><br>
                Seg à Sex: 09:00 às 18:00
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!--ABAIXO UM MODAL PARA MOBILE COM FULLSCREEN-->
    <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
          <div class="p-3 d-flex">
            <button type="button" class="circle-btn btn-modal-size align-items-center justify-content-center" data-bs-dismiss="modal" aria-label="Fechar">
              <i class="fa-solid fa-x"></i>
            </button>
          </div>
          <div class="modal-body">
            <nav class="nav flex-column modal-link h5">
              <a href="#">Dia dos pais</a>
              <a href="#">Mais vendidos</a>
              <a href="#">Ocasiões</a>
              <a href="#">Produtos</a>
              <a href="#">Tira Dúvida!</a>
            </nav>
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>

