/* BACKGROUNDS */
body{ background-color: var(--white-default); }
.bg-faq { background-color: var(--yellow-golden); }
.bg-topbar{ background-color: var(--white-default); }
.bg-footer { background-color: var(--gray-dark-soft); }

.bg-carousel {
  background-color: var(--orange-default);
  color: var(--white-default);
  font-weight: bold;
}