/* BOTÃO SUPORTE */

/* BOTÃO SUPORTE (FAQ) */
.support-button {
  background-color: var(--purple-soft);
  border: 2px solid var(--purple-soft);
  color: var(--default-white);
  font-weight: bold;
  padding: 1rem 2.5rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.support-button:hover {
  background-color: transparent;
  color: var(--purple-soft);
}


/* BOTÃO REDONDO */
.circle-btn {
  border-radius: 50%;
  border: none;
  background-color: var(--gray-white-soft);
  color: var(--gray-dark-soft);
  display: flex;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.circle-btn:hover {
  background-color: var(--gray-dark-soft);
  color: var(--gray-white-soft);
  transform: scale(1.1);
}

.circle-btn:active {
  transform: scale(0.95);
}

/* TAMANHO BOTÃO CARD */
.btn-card-size {
  width: 50px;
  height: 50px;
  font-size: 20px;
}

/* TAMANHO BOTÃO MODAL*/
.btn-modal-size {
  width: 35px;
  height: 35px;
  font-size: 10px;
}