/* FONTS */
h1{ font-family: var(--font-title);}
h4, h2{ font-family: var(--font-subtitle);}
p { font-family: var(--font-default);}
.bg-footer a {font-family: var(--font-default);}
.link-nav{ font-family: var(--font-default); font-size: 0.85rem;}