@media (min-width: 992px){
  /* SCROLL DA CATEGORIAS PROMO*/
  .carousel-items {
    overflow-x: hidden;
  }

  .cardSugestionsItems{
    max-width: 350px; height: 600px;
  }

  /* MARGEM APENAS NO PRIMEIRO E ULTIMO CARD */
  .carousel-items .card:first-child {
    margin-left: 150px; /* afasta o primeiro card da borda esquerda */
  }

  .carousel-items .card:last-child {
    margin-right: 150px; /* afasta o último card da borda direita */
  }
}