/* LINKS DO MODAL */
.modal-link a{ 
  font-family: var(--font-title);
  margin: 15px;
  color: var(--orange-default);
}

/* IMPLEMENTAR DEPOIS LINHA EM BAIXO E COR*/
.modal-link a:hover {
  color: antiquewhite;
}

