@import './landing.lg.css';
@import './landing.sm.css';
@import './landing.md.css';

:root {
  --orange-topbar: #FF7518;
  --white-topbar: #FFFFFF;
}

.bg-topbar {
  background-color: var(--orange-topbar);
  color: var(--white-topbar);
}